{#- Template for individual parameter -#}
<div class="parameter">
    <div class="parameter-header">
        <strong>{{ param.name }}</strong>
        {% if param.annotation or param.type %}
            <span class="parameter-type">: <code>{{ param.annotation or param.type }}</code></span>
        {% endif %}
        {% if param.default is defined and param.default != "..." %}
            <span class="parameter-default"> = <code>{{ param.default }}</code></span>
        {% endif %}
        {% if param.kind %}
            <span class="parameter-kind">({{ param.kind }})</span>
        {% endif %}
    </div>
    
    {% if param.description %}
        <div class="parameter-description">{{ param.description }}</div>
    {% endif %}
</div>
